$font__anonymous-bold: 'Anonymous Pro Bold';
$font__anonymous-regular: 'Anonymous Pro Regular';
$font__anonymous-italic: 'Anonymous Pro Italic';
$font__anonymous-bold-italic: 'Anonymous Pro Bold Italic';
$color__green: #00bebe;
$color__green-light: #00dcdc;
$color_green-dark: rgba(0, 190, 190, .1);
$color__brown: #212121;
